<div *ngIf="game">
    <div class="fight">


        <ng-container *ngIf="winner; else remaining">
            <h3>
                {{winner}}
                <ng-container *ngIf="nbRounds">
                    on round #{{nbRounds}}
                </ng-container>
                .
            </h3>
        </ng-container>

        <ng-template #remaining>
            <ng-container *ngIf="nbRebels && nbEmpires && show">
                <h3>{{nbRebels}} rebels fights {{nbEmpires}} empires.</h3>
            </ng-container>
        </ng-template>

        <div *ngIf="round && show; else wait">
            <h3>Round #{{nbRounds}}</h3>

            <p>
                {{round.attacker.name}} attacks {{round.defender.name}} for {{round.damage}} damage.
            </p>
            <p>
                <ng-container *ngIf="!round.isDead">
                    {{round.defender.name}} has {{round.defender.health}} hp left.
                </ng-container>

                <ng-container *ngIf="round.isDead">
                    {{round.defender.name}} died.
                </ng-container>
            </p>


        </div>
        <ng-template #wait>
            <ng-container *ngIf="show;else wait2">
                Click for next fight.
            </ng-container>
        </ng-template>

        <ng-template #wait2>
            <ng-container *ngIf="moreFights; else wait3">Please wait...</ng-container>
        </ng-template>
        <ng-template #wait3>Fights are done.</ng-template>
        <div>
            <p>
                <button [disabled]="!show" (click)="nextFight()">Fight</button>
            </p>
            <p>
                <ng-container *ngIf="nbFights > 0; else doAll">Fights for {{nbFights}} rounds</ng-container>
                <ng-template #doAll>
                    <ng-container *ngIf="show">Do all remaining fights</ng-container>
                </ng-template>
            </p>
            <form (submit)="skip()">
                <input [disabled]="!show" type="number" [(ngModel)]="nbFights" name="nbFights" />
                <button type="submit" [disabled]="!show">Skip</button>
            </form>
            
        </div>

    </div>



    <!-- 
<div *ngIf="game">
    <h2 class="title">Game #{{game.id}}</h2>
    <router-outlet name="game-outlet"/>
</div> 
<ng-container *ngIf="!game">
    Couldn't find this game.
</ng-container>
-->