<div *ngIf="game">
    <div class="fight">


        <ng-container *ngIf="winner; else remaining">
            <h3>
                {{winner}}
                <ng-container *ngIf="nbRounds">
                    on round #{{nbRounds}}
                </ng-container>
            </h3>
        </ng-container>

        <ng-template #remaining>
            <ng-container *ngIf="nbRebels && nbEmpires">
                <h3>{{nbRebels}} rebels fights {{nbEmpires}} empires.</h3>
            </ng-container>
        </ng-template>

        <div *ngIf="nbRounds && !winner">
            <h3>Round #{{nbRounds}}</h3>

        </div>
        <ng-container *ngIf="show;else wait2">
            Click for next fight.
        </ng-container>

        <ng-template #wait2>
            <ng-container *ngIf="moreFights; else wait3">Please wait...</ng-container>
        </ng-template>
        <ng-template #wait3>Fights are done.</ng-template>
        <div>
            <p>
                <button [disabled]="!show" (click)="nextFight()" class="btn">Fight</button>
            </p>
            <p>
                <ng-container *ngIf="nbFights > 0; else doAll">Fights for {{nbFights}} rounds</ng-container>
                <ng-template #doAll>
                    <ng-container>Do all remaining fights</ng-container>
                </ng-template>
            </p>
            <form (submit)="skip()">
                <input [disabled]="!show" type="number" [(ngModel)]="nbFights" name="nbFights" class="clr-input" />
                <button type="submit" [disabled]="!show" class="btn">Skip</button>
            </form>

        </div>
    </div>
</div>

<app-battlefield></app-battlefield>