<div *ngIf="rounds && rounds.length > 0; else notFound">

    <div style="margin-left: 15px;">
        <button class="btn btn-secondary" (click)="clearSort()">Chronological order</button>
        <button class="btn btn-secondary" (click)="clearFilter()">Clear filter</button>
    </div>

    <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
        <clr-dg-column [clrDgField]="'attacker.name'" >Attacker</clr-dg-column>
        <clr-dg-column [clrDgField]="'defender.name'" >Defender</clr-dg-column>
        <clr-dg-column [clrDgField]="'damage'" >
            Damage
            <clr-dg-filter [clrDgFilter]="damageFilter">
              <number-filter #damageFilter [field]="'damage'" />
            </clr-dg-filter>
        </clr-dg-column>
        <clr-dg-column [clrDgField]="'hpLeft'" >
            Hp left
            <clr-dg-filter [clrDgFilter]="hpFilter">
              <number-filter #hpFilter [field]="'hpLeft'" />
            </clr-dg-filter>
        </clr-dg-column>

        <clr-dg-row *ngFor="let round of rounds;">
            <clr-dg-cell>
                <a *ngIf="round.attacker;else elseAtt"
                    routerLink="/soldier/{{round.attacker.id}}">{{round.attacker.name}}</a>
                <ng-template #elseAtt>-</ng-template>
            </clr-dg-cell>
            <clr-dg-cell>
                <a *ngIf="round.defender;else elseDef"
                    routerLink="/soldier/{{round.defender.id}}">{{round.defender.name}}</a>
                    <ng-template #elseDef>-</ng-template>
            </clr-dg-cell>
            <clr-dg-cell>
                <span>{{round.damage}}</span>
            </clr-dg-cell>
            <clr-dg-cell>
                <span style="color: Red" *ngIf="round.isDead; else elseBlock">&cross;</span>
                <ng-template #elseBlock>
                    <span style="color: Green">{{round.hpLeft}}</span>
                </ng-template>
            </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="total">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Rows per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{total}} rows
            </clr-dg-pagination>
        </clr-dg-footer>


    </clr-datagrid>
</div>

<ng-template #notFound>
    <span class="spinner spinner-md">Loading...</span>
</ng-template>
