<div *ngIf="soldiers; else notFound">
    <clr-datagrid>
        <clr-dg-column [clrDgField]="'rebel.name'" [clrDgSortBy]="soldierComparator">Rebels</clr-dg-column>
        <clr-dg-column [clrDgField]="'empire.name'" [clrDgSortBy]="soldierComparator"  >Empires</clr-dg-column>

        <clr-dg-row *clrDgItems="let soldier of soldiers">
            <clr-dg-cell>
                <a *ngIf="soldier.rebel; else blanck"
                    routerLink="/soldier/{{soldier.rebel.id}}">{{soldier.rebel.name}}</a>
                <ng-template #blanck>-</ng-template>
            </clr-dg-cell>
            <clr-dg-cell>
                <a *ngIf="soldier.empire; else blanck"
                    routerLink="/soldier/{{soldier.empire.id}}">{{soldier.empire.name}}</a>
                <ng-template #blanck>-</ng-template>
            </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="soldiers.length">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Rows per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} rows
            </clr-dg-pagination>
        </clr-dg-footer>

    </clr-datagrid>
</div>

<ng-template #notFound>
    <span class="spinner spinner-md">Loading...</span>
</ng-template>