<div>
    <h2>Create new Game.</h2>
    <div>
        <form (submit)="createGame()">
            <p>
                <input type="number" [(ngModel)]="soldiers" placeholder="rebels" name="soldiers">
                <input type="number" [(ngModel)]="empires" placeholder="empires" name="empires">
            </p>
            <input type="number" [(ngModel)]="nbRound" placeholder="rounds" name="nbRounds">
            <input type="submit" value="Create">
        </form>
    </div>
</div>

<div *ngIf="games">
    <clr-datagrid>

        <clr-dg-column>Game</clr-dg-column>

        <clr-dg-row *clrDgItems="let game of games">
            <clr-dg-cell>
                <a routerLink="/game/{{game.id}}">Game #{{game.id}}</a>
            </clr-dg-cell>
        </clr-dg-row>

    </clr-datagrid>

</div>