<div class="line">
    <ul class="nav"></ul>
</div>

<h2 class="title">Create new Game.</h2>

<div *ngIf="show; else wait" class="float-container">
    <div class="float-child">
        <div class="card" style="height: 100%;margin-top: 0px;">
            <form clrform [formGroup]="form" (submit)="createGame()" style="margin-left: 8px;">
                <clr-input-container>
                    <label>Number of Rebels</label>
                    <input clrInput formControlName="inputRebel" />
                    <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                    <clr-control-error *clrIfError="'!pattern'">Only numbers are allowed</clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Number of Empires</label>
                    <input clrInput formControlName="inputEmpire" />
                    <clr-control-error *clrIfError="'required'">This field is required</clr-control-error>
                    <clr-control-error *clrIfError="'!pattern'">Only numbers are allowed</clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Maximum amount of rounds (optional)</label>
                    <input clrInput formControlName="inputNbRounds" />
                    <clr-control-helper>Leave empty for no rounds limitation</clr-control-helper>
                    <clr-control-error *clrIfError="'!pattern'">Only numbers are allowed.</clr-control-error>
                </clr-input-container>
                <input type="submit" [disabled]="!form.dirty || form.invalid" value="Submit" class="btn"/>
            </form>
        </div>
    </div>

    <div *ngIf="games" class="float-child">
        <div class="card" style="height: 100%;margin-top: 0px;">
            <ul class="vertical">
                <cdk-virtual-scroll-viewport itemSize="34" style="height: 100%">
                    <ng-container *cdkVirtualFor="let game of games">
                        <li>
                            <a routerLink="/game/{{game.id}}">Game #{{game.id}}</a>
                        </li>
                    </ng-container>
                </cdk-virtual-scroll-viewport>
            </ul>
        </div>
    </div>
</div>

<div style="padding: 15px;">
  <h2 style="margin-top: 0px;">Select existing soldiers to create a new Game.</h2>
  <app-create-selected-soldiers></app-create-selected-soldiers>

</div>

<ng-container *ngIf="error">Couldn't connect to API.</ng-container>

<ng-template #wait>Please wait...</ng-template>
