.apptitle {
    padding-bottom: 4px;
    padding-top: 10px;
}

.apptitle a {
    padding-left: 10px;
    text-align: left;
    font-size: 38px;
    text-decoration: none;
    color: black;
}

/* .apptitle a:hover {
    background-color: rgb(240, 240, 240);
} */
