<div *ngIf="soldiers">
    <h2>{{ team | uppercase}}S</h2>
    <table>
        <tbody>
            <tr *ngFor="let soldier of soldiers">
                <td>
                    <a routerLink="/soldier/{{soldier.id}}">
                         {{soldier.name}}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button (click)="changeTeam('rebel')">Rebels</button>
<button (click)="changeTeam('empire')">Empires</button>
<button (click)="backToAll()">All</button>
