<div class="line">
  <ul class="nav"></ul>
</div>
<div *ngIf="soldier" class="pad-left">
  <h2>Soldier #{{ soldier.id }}</h2>
  <div>
    <div>
      <label>Name : </label>
      <ng-container *ngIf="!editName; else edit1">
        <a (click)="openForm('name');" class="label clickable" href="javascript://">{{ soldier.name }}</a>
      </ng-container>
      <ng-template #edit1>
        <form class="clr-form" (submit)="patchName()">
          <input #inputName type="text" class="clr-input" [(ngModel)]="newName" name="inputName" placeholder="New Name">
          <button type="submit" class="btn">&check;</button>
          <button (click)="closeForms();" class="btn">&cross;</button>

        </form>
      </ng-template>
    </div>
    <div>
      <label>Health : </label>
      <ng-container *ngIf="!editHp; else edit2">
        <a (click)="openForm('hp');" class="label clickable" href="javascript://">{{ soldier.maxHealth }}</a>
      </ng-container>

      <ng-template #edit2>
        <form class="clr-form clr-form-horizontal" (submit)="patchHp()">
          <input #inputHp (keyup)="validateHp($event)" type="text" name="inputHp" class="clr-input" [(ngModel)]="newHp"
            placeholder="New MaxHp">
            <clr-control-helper>Range: 1000 - 2000</clr-control-helper>
            <button [disabled]="errorHp" type="submit" class="btn">&check;</button>
            <button (click)="closeForms();" class="btn">&cross;</button>
        </form>
      </ng-template>
    </div>
    <div>
      <label>Attack : </label>
      <ng-container *ngIf="!editAtt; else edit3">
        <a (click)="openForm('att');" class="label clickable" href="javascript://">{{ soldier.attack }}</a>
      </ng-container>

      <ng-template #edit3>
        <form class="clr-form" (submit)="patchAttack()">
          <input #inputAtt (keyup)="validateAtt($event)" type="text" name="inputAtt" class="clr-input" [(ngModel)]="newAtt"
            placeholder="New Attack">
          <clr-control-helper>Range: 100 - 500</clr-control-helper>
          <button [disabled]="errorAtt" type="submit" class="btn">&check;</button>
          <button (click)="closeForms();" class="btn">&cross;</button>
        </form>
      </ng-template>

    </div>
  </div>
</div>

<ng-container *ngIf="!soldier">
  Couldn't find this soldier.
</ng-container>
