<!-- <div>
    <ul class="horizontal">
        <ng-container *ngIf="game">
            <li>
                <a routerLink="./fight">Fight</a>
            </li>
            <li>
                <a routerLink="./soldiers">Soldiers</a>
            </li>
            <li>
                <a routerLink="./rounds">Rounds</a>
            </li>
            <li>
                <a routerLink="./scores">Scores</a>
            </li>
            <li class="float-right" style="float: right;">
                <a (click)="openNotifs()">
                    <ng-container *ngIf="newNotif; else noNotif">
                        <cds-icon shape="bell" badge="info" />
                    </ng-container>
                    <ng-template #noNotif>
                        <cds-icon shape="bell" />
                    </ng-template>
                </a>
            </li>
        </ng-container>
    </ul>
</div> -->
<div class="nav-bar-container">
  <div class="nav-bar-left">
    <clr-tabs style="min-width: 25%;">
      <clr-tab>
        <button clrTabLink (click)="setTab(1)">Fight</button>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="setTab(2)">Soldiers</button>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="setTab(3)">Rounds</button>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="setTab(4)">Scores</button>
      </clr-tab>
    </clr-tabs>

  </div>

  <div class="nav-bar-middle">
    <ul class="nav"></ul>
  </div>

  <div class="nav-bar-right">
    <ul class="nav">
      <li class="nav-item" style="margin-right: 0;">
        <button class="btn btn-link nav-link" style="width: 40px;" (click)="openNotifs()">
          <ng-container *ngIf="newNotif; else noNotif">
            <cds-icon shape="bell" badge="info" />
          </ng-container>
          <ng-template #noNotif>
            <cds-icon shape="bell" />
          </ng-template>
        </button>
      </li>
    </ul>

  </div>

</div>


<div *ngIf="game" style="position: relative;">
  <div *ngIf="showNotif" class="notif-container border">
    <ul class="vertical">
      <cdk-virtual-scroll-viewport itemSize="105" style="height: 92%">
        <ng-container *cdkVirtualFor="let round of rounds; let i=index">
          <li>
            <div (mouseenter)="enter(i)" (mouseleave)="leave()" [ngClass]="round.isDead ? 'red-div' : 'green-div'"
              (click)="removeNotif(round)">
              <p>Attacker : {{round.attacker.name}}</p>
              <p>Defender : {{round.defender.name}}</p>
              <p>Damage : {{round.damage}}</p>
              <p>Hp left : {{round.hpLeft}}</p>
              <cds-icon *ngIf="this.onIndex === i" shape="times" />
            </div>
          </li>
        </ng-container>
      </cdk-virtual-scroll-viewport>
      <button class="btn" (click)="removeAllNotif()">Remove all notifs</button>
    </ul>
  </div>
  <h2 class="title">Game #{{game.id}}</h2>
  <ng-container *ngIf="numTab == 1"><app-fight /></ng-container>
  <ng-container *ngIf="numTab == 2"><app-soldiers /></ng-container>
  <ng-container *ngIf="numTab == 3"><app-rounds /></ng-container>
  <ng-container *ngIf="numTab == 4"><app-scores /></ng-container>
</div>
<ng-container *ngIf="!game">
  <p>Couldn't find this game.</p>
</ng-container>
<ng-container *ngIf="error">
  <p>Redirecting ...</p>
</ng-container>
